<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为LocalDao接口方法提供sql语句配置 -->
<mapper namespace="com.edu.sys.dao.LocalDao">

    <delete id="deleteLocalById" parameterType="int">
        delete from local where localid=#{localid}
    </delete>

    <update id="updateLocalById" parameterType="Local">
        update local
        <set>
            <if test="localid!=null and localid!=''">
                localid=#{localid},
            </if>
            <if test="localname!=null and localname!=''">
                localname=#{localname},
            </if>
            <if test="locallevel!=null and locallevel!=''">
                locallevel=#{locallevel},
            </if>
            <if test="localbelong!=null and localbelong!=''">
                localbelong=#{localbelong},
            </if>
        </set>
        where localid=#{localid}
    </update>

    <insert id="insertLocal" parameterType="Local">
        INSERT INTO local(localid,localname,locallevel,localbelong)
        VALUES(#{localid},#{localname},#{locallevel},#{localbelong})
    </insert>

    <select id="selectLocalById" resultType="Local" parameterType="Integer">
        SELECT * FROM local WHERE localid = #{localid}
    </select>

    <select id="getAllLocal" resultType="map">
        SELECT * FROM local
    </select>

</mapper>